iframe {
    display: block;
    margin: 0 auto;
}

div.textarea {
    margin: 0 auto;
    margin-top: 20px;
    width: 581px;
}

div.searchbox {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
}

#logout_link {
    text-align: right;
    margin-top: 60px;
}
