<!DOCTYPE html>
<html lang="en">


<head>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static 'accounts/js/login.js' %}"></script>

  <meta charset="UTF-8">
  <title>Google maps API</title>

</head>

<body>

  <header>GOOGLE Maps Api - Welcome {{ user.username }}</header>

  {% block content %}

  {% endblock content %}

  <footer>Copyright &copy; Boris Besker</footer>

</body>

</html>
